body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:teal;
    color: rgb(236, 237, 245);
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav {
    background-color: whitesmoke;
    
}
h1 {
    margin: 0;
    padding-top: 1em;
    color:teal;
    
    
    
}
h3 {
    margin: 0;
    padding-top: .5em;
    padding-bottom: 1em;
    color: teal;
}

img {
    padding-top: 2em;;
    width: 50%;
}

article {
    padding: 5em;
}

ul  {
list-style-type:circle;
 text-align: left;

}

hr {
    width: 90%;
}


 h2 {
     text-align: center;
 }
 p {
     width: 95%;
 }

 footer {
     margin: 0;
     padding: 0;
     background-color: whitesmoke;
 }

 a:link {
     color:rgb(236, 237, 245);
 }
 a:visited {
     color:rgb(236, 237, 245);
 }
 a:hover {
     color: yellowgreen;
 }
 a:active {
     color: wheat;
 }