@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }
/* BODY */
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: linear-gradient(to right, #06251581, rgba(46, 49, 49, 1)), url(texture.jpg);
    /* background-image: url(texture.jpg); */

    background-color: rgba(32, 33, 36, 1);
    color: rgb(236, 237, 245);
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* NAV COLOR */
nav {
    background-color: rgb(245,245,245);
    opacity: .7;
    z-index: 1;
    /* text-align: center; */
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.9rem; 
    line-height: 90%; 
}


 
.header {
    padding-top: 3rem;;
}


/* TEXT CUSTONIZED */

h1 {
    margin: 0;
    padding-top: 3rem;
    color:white;
    text-align: center;
    font-size: 3rem;  
}
.sticky + h1 {
    padding-top: 60px;
}
.title {
    color:grey;
    text-align: center;
    padding-bottom: 1em;
    font-size: 2.3em;
}

h2 {
    text-align: center;
}

 

p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.footername {
    text-align: center;
}
/* IMAGE OF ME */

img {
    margin: 2em 0;
    width: 40%;
    border-radius: 50%;
    filter: grayscale(55%);

}


/* ARTICLES */
article {
    padding: 5em;
}

/* LISTS */
ul  {
list-style-type:circle;
 text-align: center;
 padding-right: 1rem;
 font-family: 'Raleway', sans-serif;

}

ol {
    text-align: center;
    padding-right: 1rem;
    font-family: 'Raleway', sans-serif;
}


/* HORIZONTAL LINES*/
hr {  
    width: 80%;
    height: 1px;
    border: none;
    color: white;
    background-color: white;  
    margin-left: 10%;
}
 
/* FOOTER*/
 footer {
    margin: 0;
    padding-top: .5em;
    padding-bottom: 1em;
    color: rgba(32, 33, 36, 1);
    font-size: 2rem;
    background-color: whitesmoke;
    text-align: center;
    font-size: small;
     
 }

a {
    text-align: center;
    margin-right: 1rem;
    color: white;
    font-family: 'Raleway', sans-serif;
    
}


.from-left {
    grid-column: 2 / 3;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .from-right {
    grid-column: 3 / 4;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  
  .from-left,
  .from-right {
    transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in,
      -webkit-transform 400ms ease-in;
    opacity: 0;
  }
  
  .from-left.appear,
  .from-right.appear {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }
  
  .fade-in.appear {
    opacity: 1;
  }


/* PSUEDO-CLASSES*/
 /* a:link {
     color:rgb(236, 237, 245);
 }
 a:visited {
     color:rgb(236, 237, 245);
 }
 a:hover {
     color: yellowgreen;
 }
 a:active {
     color: wheat;
 } */


 .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }