
/* BODY */
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgba(32, 33, 36, 1);
    color: rgb(236, 237, 245);
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* NAV COLOR */
nav {
    background-color: whitesmoke;
 

/* TEXT CUSTONIZED */
}
h1 {
    margin: 0;
    padding-top: 1em;
    color:rgba(32, 33, 36, 1);
    text-align: center;
    font-size: 3rem;  
}

.title {
    color:rgba(32, 33, 36, 1);
    text-align: center;
    padding-bottom: 1em;
    font-size: 2.3em;
}

h2 {
    text-align: left;
}

 

p {
    width: 95%;
    text-align: left;
}


.footername {
    text-align: center;
}
/* IMAGE OF ME */

img {
    margin: 2em 0;
    width: 50%;
}


/* ARTICLES */
article {
    padding: 5em;
}

/* LISTS */
ul  {
list-style-type:circle;
 text-align: left;

}

ol {
    text-align: left;
}


/* HORIZONTAL LINES*/
hr {  
    width: 90%;
    height: 1px;
    border: none;
    color: white;
    background-color: white;;
}
 
/* FOOTER*/
 footer {
    margin: 0;
    padding-top: .5em;
    padding-bottom: 1em;
    color: rgba(32, 33, 36, 1);
    font-size: 2rem;
    background-color: whitesmoke;
    text-align: center;
    font-size: small;
     
 }

a {
    text-align: left;
    
}
/* PSUEDO-CLASSES*/
 a:link {
     color:rgb(236, 237, 245);
 }
 a:visited {
     color:rgb(236, 237, 245);
 }
 a:hover {
     color: yellowgreen;
 }
 a:active {
     color: wheat;
 }


/*SMALL SCREEN CHANGES*/
